*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:  Helvetica, arial, sans-serif;
}
:root{
    --cor1: #0866FF;
    --cor2: #42B72A;
}
body{
    background-color: #F2F4F7;
    max-width: 1500px;
    font-size: 16px;
    
}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 3.3em;
    padding: 2px;
    margin:  -3px -2px;
    color: var(--cor1);

}

form{
    width: 314px;
    height: 295px;
    padding: 8px 13px;
    margin: 10px 10px;
    
    left: 58%;
    top: -149px;
    position: relative;

    text-align: center;
    border-radius: 8px;
    background-color:#FFFFFF ;
    box-shadow: 3px 6px 7px 0px #0000001b;
}
.conteiner-frase{
   
    width: 40%;
    left: 13%; 
    position: relative;
    margin-top: 118px;
    
    
}
.conteiner-frase > p {
    font-size: 1.2em;
    text-align: left;

}
.box-users{
    
    width: 100%;
    padding: 15px;
    border-radius: 4px; 
    align-items: center;
    margin: 10px -1px 1px -1px;
    box-shadow: 0.2px 0.5px 3px rgba(0, 0, 0, 0.14) ;
    

}
.btn-entrar{
    width:100%;
    height: 42px;
    border: none;
    border-radius: 7px;

    padding: 2px 2px;
    margin: 10px -1px 1px -1px;
    font-weight: 600;

    
    color: #FFFFFF;
    background-color: var(--cor1);    
}
.recuperar-senha{
    color: var(--cor1);
    padding: 4px;
    font-size: 0.5em;
    margin: 11px 0px 11px 0px;

}
.btn-criar{
    width: 50%;
    height: 37px;
    border: none;
    border-radius: 7px;
    padding: 2px 2px;
    margin: 23px 0px 1px 1px;
    font-weight: 600;

    color: #FFFFFF;
    background-color: var(--cor2);

}
